.div-item-count {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: 10px 25%;
}
.item-div .div-item-count {
  justify-content: space-around;
}
.modal-footer .div-item-count {
  justify-content: space-between;
}
.div-boton {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  font-weight: bold;
}
.modal-footer .div-boton {
  padding-left: 67px;
  font-size: 29px;
  width: 200px;
  justify-content: space-between;
}
.item-div .div-boton {
  justify-content: space-between;
  width: 65%;
  font-size: 19px;
  margin-bottom: 25px;
  height: 30px;
}
.div-boton p {
  margin: 0;
}
.masMenosBoton {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0;
  background-color: #1a1a1a;
  border: none;
}
.masMenosBoton:focus {
  outline: none;
}
.masMenosBoton:hover,.masMenosBoton:active {
  background-color: #fff;
  color: #1a1a1a
}
/* .masMenosBoton:active {
  background-color: teal;
} */
.modal-body ul{
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  padding: 0 35px;
}