.itemUl{
    font-size: 20px;
    width: 80%;
    display: block;
    text-align: center;
    list-style: none;
}
.item-div{
    width: 30%;
    display: inline-flex;
    flex-flow: column wrap;
    
}